.App {
  text-align: center;
  height: 100vh;
  user-select: none;
}

.bottom{
  display: grid;
  grid-template-columns: 300px 6px calc(100% - 306px);
  width: 100%;
  height: 100%;
}

h1{
  margin: 0px;
}

::-webkit-scrollbar{
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb{
  background: #888888;
  // border-radius: 10px;
}

::-webkit-scrollbar-track{
  background: #e0e0e0;
  // border-radius: 10px;
}
::-webkit-scrollbar-button{
  
}