.tab{
    display: inline-block;
    width: 250px;
    padding: 10px 10px;
    margin-right: 1px;
    background: #e8e8e8;
    cursor: pointer;

    &.selected{
        background: #f9f9f9;
    }

    &:hover{
        background: #bbbbbb;
    }

    & > .grid{
        display: grid;
        grid-template-columns: calc(100% - 16px) 16px;

        & > .filename{
            width: 100%;
        } 

        & > .close-button{
            height: 20px;
            width: 100%;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;

            &:hover{
                color: lightgray;
            }
        }
    }
}