.toolbox{
    text-align: center;
    height: 100%;
    display: inline-block;
    margin: 0px 5px;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;

    & > .tools-container{
        height: calc(100% - 18px);
    }

    & > span{
        text-align: center;
        display: block;
        color: #2e2f33;
        background: white;
        border-radius: 0px 0px 10px 10px;
        font-size: 0.9em;
        box-shadow: black 0px 1px 12px -5px;
    }
}